@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	position: relative;
	background: #F1F2F3;
	color: #39393A;
	font-family: 'Poppins', sans-serif;
}

p {
	text-transform: capitalize;
}

.w-500 {
	font-weight: 500;
}

.w-600 {
	font-weight: 600;
}

.w-700 {
	font-weight: 700;
}

.card-header, .card-footer {
	background: #FFF;
}

.quiz-box {
	margin-top: 50px;
}

.question {
	font-size: 18px;
	font-weight: 500;
}

.form-check-label {
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	margin: 10px auto;
	transition: .2s;
	cursor: pointer;
}

input[type='radio']:checked + .form-check-label {
	background: #F1F2F3;
}

.form-check-label:hover {
	background: #F1F2F3;
}

.form-check {
	padding-left: 0;
}

.form-check-input {
	display: none;
}

ul li {
	list-style: none;
	line-height: 30px;
	text-transform: capitalize;
	font-weight: 500;
}
